<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="estilo.css">
    <title>Trabalhe Conosco</title>
</head>
<body>
   
    <%- include('../menu.ejs'); %>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <section>
        <p class="subtitulo4">Olá, bem-vindo! Faça seu pedido:</p>
        <br>
        <hr>
        <br>
        <form class="search-container" action="/pesquisarPedido" method="post">
            <input type="text" id="search-bar" placeholder="Filtrar Pedido (Pesquise pelo nome do produto)"/>
            <br>
            <br>
            <center><button class="button1">Filtrar</button></center>
        </form>

    </section>

    <br>
    <br>

    <form action="/processarpedido" method="post">

    <br>
    <hr>

    <section>   
        <div class="tabela"> 
        <table>
                <tr>
                    <th>ID Pedido</th>
                    <th>Nome do Produto</th>    
                    <th>Valor do Produto</th>
                    <th>Qtd do Produto</th>
                    <th>CPF do comprador</th>
                    <th>Valor do Frete</th>
                    <th>Valor Total</th>
                </tr>
                    <% pedido.forEach((p, index) => { %> 
                <tr>
                    <td><%= p.id_pedido %></td>
                    <td><%= p.nome_produto %></td>  
                    <td><%= p.valor_produto %></td>  
                    <td><%= p.qtd %></td> 
                    <td><%= p.cliente_cpf %></td>
                    <td> R$15,00</td>
                    <td><%= p.valor_pedido %></td> 
                </tr>  
                <% }); %> 
            </div>
        </table>
    </section>
    

</form>
    <br>
    <br>
    <br>
    <br>

    <%- include('../rodape.ejs'); %>
    
</body>
</html>